# Configuración del servidor HTTP
PORT_HTTP=5000

# Configuración de Appium
APPIUM_HOST=127.0.0.1

# Configuración de ADB
ADB_HOST=127.0.0.1
ADB_PORT=5037

# Configuración de Socket.IO
SOCKET_SERVER_URL=http://localhost:4000